.search-form {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
  height: 300px;
  margin-bottom: 20px;
}
.location,
.search-btn {
  width: 100%;
  padding: 10px;
}
.search-btn {
  background-color: darkorange;
  color: white;
  border-radius: 5px;
  border: none;
}
.map-icon {
  padding-left: 15px;
  font-size: 60px;
  color: black;
}
.transport {
  font-size: 25px;
  padding-top: 30px;
}
